<nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="http://jessesoldatfirstsite.bitballoon.com/" target="_blank" title="first website ever!">My World
          </a>
        </h1>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="#"><span></span></a>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Explore</a>
          <ul class="dropdown">
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/iowa" target="_blank">Iowa</a>
            </li>
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/hawaii" target="_blank">Hawaii</a>
            </li>
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/centralsouthamerica" target="_blank">Central/South America</a>
            </li>
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/japan" target="_blank">Japan</a>
            </li>
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/southeastasia" target="_blank">South East Asia</a>
            </li>
            <li>
              <a href="http://jessesoldatfirstsite.bitballoon.com/georgia" target="_blank">Georgia</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="left">
        <li><a href="https://github.com/JesseSoldat" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jesse-soldat-126544110" target="_blank">Linked In</a></li>
      </ul>
    </section>
  </nav>